:root {
  --mainhc: #facf3a;
  --mainhc2: #ff565b;
  --mainc: #363636;
  --mainc2: #585858;
}

span.main-c {
  color: var(--mainhc);
}

button.abc-button {
  background-color: var(--mainc);
  border: 1px solid var(--mainc);
  color: #fff;
}

button.abc-button:hover {
  background-color: var(--mainc2);
  border: 1px solid var(--mainc2);
  color: #fff;
}
