/* ---------------------------------------------------------------- */

#home {
    min-height: 100vh;
    /* background-image:
        linear-gradient(to right,
            rgb(255, 255, 255),
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0)), url(./); */
    background-image: url(./IMG/bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.head-content {
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 0 .07rem .1rem rgba(0, 0, 0, .5);
}

a.navbar-brand {
    color: #fff;
    font-size: 2.5rem;
}

a.nav-item-nav {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: .5rem;
    margin-left: 2rem;
}

a.nav-item-nav:hover {
    color: var(--mainhc);
    /* text-shadow: 0 .07rem .1rem rgba(0, 0, 0, .5); */
}

h1.head-caption {
    font-weight: bold;
    font-size: 3.5rem;
}

p.head-caption-sub {
    font-weight: 500;
}

button.abc-button-home {
    background-color: var(--mainhc);
    border: 1px solid var(--mainhc);
    color: #fff;
    text-shadow: 0 .07rem .1rem rgba(0, 0, 0, .5);
}

button.abc-button-home:hover {
    background-color: var(--mainhc2);
    border: 1px solid var(--mainhc2);
    color: #fff;
}

div.cover-head {
    position: relative;
    height: 100vh;
}

div.content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    margin-left: 50px;
}

/* ---------------------------------------------------------------- */

#footer {
    height: auto;
}